* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "playwrite";
    src: url(/assets/font/playwritei.ttf) format(truetype);
}
@font-face {
    font-family: "bebas-regular";
    src: url(/assets/font/bebas-regular.ttf) format(truetype);
}

body {
  font-family: "bebas-regular", Arial;
  font-size: 1.5rem;
  background-color: floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}